In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('MegaMart_sales.csv')
##df.head()

In [4]:
df_new=pd.read_csv('MegaMart_newsales.csv')
##df_new.head()

#### Combining two data frames
Question 1: Some of the orders are stored in another csv file named `megamart_new sales`. Read the csv file, store it in a data frame and add it to the `megamart_sales` data frame. Find the total sales value of the category 'Office Supplies'  after combining the dataframes

    a)7970
    b)6964
    c)7494
    d)6076

In [5]:
#your code here
print(df.shape)
print(df_new.shape)
##df = pd.concat([df, df_new])
print(df.shape)
df[df['Category']=='Office Supplies']['Sales'].sum()

##df=pd.concat([df,df_new],axis=0,ignore_index=True) 
##df.groupby(by='Category').Sales.sum()

(59, 8)
(9, 8)
(59, 8)

7082

#### Dropping duplicates
Question 2: There are some duplicate rows in the data frame. Drop these rows and calculate the total sales value of the category Office Supplies.

    a)7156
    b)6496
    c)6964
    d)6023

In [6]:
#your code here
df = df.drop_duplicates()
df[df['Category']=='Office Supplies']['Sales'].sum()

##df.drop_duplicates(subset=None,keep='first',inplace = True)
##df.groupby(by='Category').Sales.sum()

6076

#### Best category-sub category 
Question 3: Find the most profitable category and sub category combination based on the net profit.


    a)Furniture-Bookcases
    b)Office supplies-Appliances
    c)Office supplies-Storage
    d)Technology-Phones

In [7]:
#your code here
df.head()
df_1 = df.groupby(by=['Category','Sub-Category']).sum()
df_1.sort_values('Profit', ascending=False)

##df.groupby(by=['Category','Sub-Category']).Profit.sum()

                              Discount  Sales  Profit  Quantity
Category        Sub-Category
Technology      Phones             0.0   5199    1618        26
Furniture       Bookcases          0.1   1171     288         9
Office Supplies Appliances         0.1   1819     229         8
                Art                1.0   1161     220        36
                Storage            1.6   1958     185        19
Technology      Accessories        0.0    960     175        16
                Machines           0.0    800     168         3
Office Supplies Supplies           0.0    362     103        11
Furniture       Furnishings        0.0    443      74        12
Office Supplies Binders            0.5    488      42        22
                Labels             0.0    166      30        15
                Envelopes          0.0     94      16         5
                Fasteners          0.0     28      10         2
Technology      Copiers            0.0    442       0         3
Furniture       Chairs             1.2    558     -49        13

#### Invalid order IDs
Question 4: How many invalid order IDs are there in the data frame. An order id is of the form AZ-2011-Y where Y represents a whole number. A Order ID is said to be valid only if Y consists of 7 digits. Find the number of valid order order IDs in the data frame.
    
    a)6
    b)7
    c)8
    d)9

In [8]:
#your code here
df.head()
df[df['Order ID'].str.len()!=15]

##df['Order no']=df['Order ID'].str.split('-')
##df['Order no']=df['Order no'].apply(lambda x: x[2])
##df['no_of_digits']=df['Order no'].apply(lambda x: len(x))
##df['no_of_digits'].value_counts()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
1,AZ-2011-107716,"Deflect-O Door Stop, Erganomic",0.0,85,15,2,Furniture,Furnishings
9,AZ-2011-122598,"Avery Removable Labels, Alphabetical",0.0,32,6,3,Office Supplies,Labels
17,AZ-2011-130330,"Office Star Chairmat, Adjustable",0.1,307,99,5,Furniture,Chairs
31,AZ-2011-144325,"Bush Stackable Bookrack, Pine",0.0,630,132,5,Furniture,Bookcases
34,AZ-2011-145488,"Rogers File Cart, Industrial",0.4,255,-98,3,Office Supplies,Storage
58,AZ-2011-176674,"Hoover Microwave, Red",0.1,1667,185,6,Office Supplies,Appliances

#### Occurence of furniture in top 25 sales
Question 5: Find the top 25 orders based on sales value and find the number of orders which belong to furniture category.

    a)2
    b)3
    c)4
    d)5

In [9]:
#your code here
top_25 = df.sort_values('Sales', ascending=False)[:25]
top_25[top_25.Category=='Furniture']

##df2=df.sort_values(by='Sales', ascending=False)
##df2=df2.iloc[:25,]
##df2['Category'].value_counts()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
31,AZ-2011-144325,"Bush Stackable Bookrack, Pine",0.0,630,132,5,Furniture,Bookcases
12,AZ-2011-1253407,"Safco Stackable Bookrack, Pine",0.1,541,156,4,Furniture,Bookcases
17,AZ-2011-130330,"Office Star Chairmat, Adjustable",0.1,307,99,5,Furniture,Chairs
43,AZ-2011-1589827,"Novimex Steel Folding Chair, Red",0.6,164,-70,5,Furniture,Chairs
56,AZ-2011-1735855,"Deflect-O Photo Frame, Black",0.0,156,34,3,Furniture,Furnishings

#### And operation
Question 6: Among the orders with sales>250 and profit>50, find the product name of the fourth highest order based on sales value.

    a)Motorola Headset, with Caller ID
    b)Panasonic Printer, Durable	
    c)Hoover Microwave, Red	
    d)Fellowes Lockers, Industrial

In [10]:
#your code here
df[(df.Sales > 250) & (df.Profit>50)].sort_values('Sales', ascending=False).iloc[3]

Order ID                         AZ-2011-1322840
Product Name    Motorola Headset, with Caller ID
Discount                                       0
Sales                                        957
Profit                                       316
Quantity                                      12
Category                              Technology
Sub-Category                              Phones
Name: 20, dtype: object

#### Column manipulation
Question 7: Remove the orders with negative profit by dropping the corresponding rows with negative `Profit`. Find the product that makes the lowest profit per Quantity in the Technology category.

    a) Nokia Audio Dock, with Caller ID
    b) Logitech Keyboard, Programmable
    c) Motorola Headset, with Caller ID
    d) Belkin Flash Drive, Bluetooth

In [11]:
#your code here
df2 = df[df.Profit > 0]
df2['PerQuantity'] = df2['Profit']/df2['Quantity'] 
df2[(df2.Profit>0) & (df2.Category=='Technology')].sort_values('PerQuantity')

##df4=df[df.Profit>0]
##df4=df4.loc[df4.Category=='Technology']
##df4['Profit_per_qty']=df4['Profit']/df4['Quantity']
##df4.sort_values(by='Profit_per_qty',ascending=True)

<ipython-input-11-1fd7645b4efb>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['PerQuantity'] = df2['Profit']/df2['Quantity']

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,PerQuantity
39,AZ-2011-1536006,"Logitech Keyboard, Programmable",0.0,666,66,9,Technology,Accessories,7.333333
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories,15.571429
8,AZ-2011-1174243,"Nokia Audio Dock, with Caller ID",0.0,1334,200,8,Technology,Phones,25.000000
20,AZ-2011-1322840,"Motorola Headset, with Caller ID",0.0,957,316,12,Technology,Phones,26.333333
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines,56.000000
52,AZ-2011-1722024,"Cisco Audio Dock, VoIP",0.0,364,142,2,Technology,Phones,71.000000
33,AZ-2011-1445262,"Apple Smart Phone, Cordless",0.0,636,140,1,Technology,Phones,140.000000
30,AZ-2011-1410648,"Nokia Smart Phone, Full Size",0.0,1908,820,3,Technology,Phones,273.333333